<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="dad">
    <div class="box">
        <div class="box-top">
        <h1>Here's a Joke for you!</h1>
            </div>
        <div class="box-bottom">
       <p class="jk"> {{ joke }}</p>
            </div>
    </div>
        <div class="react">
            <h1 class="emoji1"><img src="{{ url_for('static', filename='neutral.png') }}" alt="neutral"></h1>
            <h1 class="emoji2"><img src="{{ url_for('static', filename='laugh.png') }}" alt="laugh"></h1>
            <h1 class="emoji3"><img src="{{ url_for('static', filename='cry.png')}}" alt="cry"></h1>
        </div>
        </div>
        <div class="emo">
            <div class="laughing">
            <h1>&#128513;</h1>
            </div>
            <button id="next">One More -></button>
        </div>
<script src="{{ url_for('static',filename='script.js')}}"></script>
</body>
</html>